<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Tarea 1</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/nav-bar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--NAVEGATION BAR-->
    <div class="navbar">
      <img id="logo-id" src="../Images/page_logo.png" alt="Logo" />
      <h1>ReciclaTech</h1>
      <a class="navbar-page" href="#home">Home</a>
      <a class="navbar-page" href="#about">About</a>
      <a class="navbar-page" href="#contact">Contact</a>
    </div>

    <!--MAIN CONTAINER-->
    <div class="main-container">
      <a class="option-box" href="../html/agregar-donacion.html">
        <img
          class="btn-icons"
          src="https://cdn-icons-png.flaticon.com/512/2904/2904845.png"
          alt="donation-logo"
        />
        Agregar donación
      </a>

      <a class="option-box" href="../html/ver-dispositivos.html">
        <img
          class="btn-icons"
          src="https://static.vecteezy.com/system/resources/previews/005/242/944/original/phone-icon-telephone-icon-symbol-in-hand-for-app-and-messenger-free-vector.jpg"
          alt="devices-logo"
        />
        Ver dispositivos
      </a>
    </div>
  </body>
</html>
