{% extends 'base.html' %} {% block title %} Ver dispositivos {% endblock %} {%
block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/ver-dispositivos.css') }}"
/>
{% endblock %} {% block content %}
<!--DEVICES TABLE-->
<table>
  <thead>
    <tr>
      <td>Tipo</td>
      <td>Nombre dispositivo</td>
      <td>Estado</td>
      <td>Comuna</td>
      <td>Fotos</td>
    </tr>
  </thead>
  <tbody>
    {% if data %} {% for device in data %}
    <tr
      data-device-id="{{device.device_id}}"
      class="clickable-row"
      onclick="goToInfoDevice(this)"
      style="cursor: pointer"
    >
      <td>{{ device.tipo }}</td>
      <td>{{ device.dispositivo }}</td>
      <td>{{ device.estado }}</td>
      <td>{{ device.comuna }}</td>
      <td>
        <img class="imgs" src="{{device.pic_path}}" alt="placeholder image" />
      </td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>

<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="/ver-dispositivos/1">1</a>
  <a href="/ver-dispositivos/2">2</a>
  <a href="/ver-dispositivos/3">3</a>
  <a href="/ver-dispositivos/4">4</a>
  <a href="#">&raquo;</a>
</div>

{% endblock content %} {% block javascript %}
<script src="{{ url_for('static', filename='js/ver-dispositivos.js') }}"></script>
{% endblock %}
