{% extends 'base.html' %} {% block title %} Tipo de dispositivos {% endblock %}
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/graficos.css') }}"
/>
{% endblock %} {% block content %}

<div class="stats-container">
  <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description"></p>
  </figure>
</div>

{% endblock content %} {% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/grafico-disp.js')}}"></script>
{% endblock %}
